body{
background-image: url(third.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: top;

padding:0px;
/*

*/
}
nav{
	background-color: /*#8054f7;*/
	height: 80px;
	text-align: center;
	size: 100%;
	

	
}
nav img{
	float: left;
	width: 75px;
	height: auto;
}
.active a{
  			background-color: red;
  			color: #000;
}
a:hover {
  background-color: #ddd;
  color: pink;

}

nav ul{
	list-style-type: none;
	float: right;
	margin-right: 25px;

}
nav ul li{
	display: inline-block;
	margin-top: 10px;
	margin-left: 20px;

}
nav ul li a{
	color: white;
	font-size: 20px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
footer {
	
	clear: both;
  text-align: center;
  padding: 3px;
  background-color:#d5f5f9;
  color: orange;
  width: 100%;

  font-family: fantasy;
}
.fa-facebook {
  background: #3B5998;
  color: white;}
